<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load staticfiles %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <style>
    .bg-company-bg111 {
    background-color: #0088cc;
}
   A {
    color: black;
   }
   A:visited {
    color: black;
   }
   A:active {
    color: black;
   }
   body {
    background: white;
   }
   .navbar-brand{
    font-family: 'Satisfy', cursive;
}
</style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-company-bg111">
        <div class="collapse navbar-collapse justify-content-md-left">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-2">
            <a class="navbar-brand" href="{% url 'index' %}">Прокат авто</a>
            </div>
          <ul class="navbar-nav">
            <li class="nav-item">
            </li>
              <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Свяжитесь с нами
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                        <a class="dropdown-item" href="">Vodafone: +380903456756</a>
                        <a class="dropdown-item" href="">Kievstar: +380664563476</a>
                    </div>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item">
                  <a class="nav-link" href="" aria-disabled="true">Вы вошли как менеджер</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}">Вы менеджер?</a>
                </li>
              {% endif %}
          </ul>
        </div>
      </nav>
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample10" aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">Автомобили</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'bronirovanie' %}">Бронирование</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contr_infos' %}">Условия проката</a>
            </li>
          </ul>
        </div>
      </nav>
{% block body %}
{% endblock %}
</body>
</html>