{% extends 'auto/basic.html' %}
{% block title %}Условия аренды{% endblock %}
{% block body %}
<section class="category-filter mb-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12">
                <p><b>Необходимые документы:</b></p>
                <p>1. Паспорт (возраст не менее 21 года);</p>
                <p>2. Водительское удостоверение (стаж вождения не менее 2 лет);</p>
                <p>3. Банковская карточка (именная).</p>

                <p><b>Оплата:</b></p>

                <p>Оплата за услуги по прокату автомобиля осуществляется с помощью банковских карт.
                <p>К оплате принимаются карточки типа Visa или MasterCard. Мы не принимаем карты American Express, Visa Electron и Maestro.
                <p>На момент подписания договора проката автомобиля полностью оплачивается стоимость проката автомобиля и блокируется депозит.
                <p>
                <p><b>Тариф включает:</b></p>

                <p>— Базовую страховку;

<p>— Круглосуточную поддержку 24/7.

<p>Базовая страховка — подразумевает финансовую ответственность клиента в случае ДТП, ограниченную его франшизой.

<p>«Франшиза» – сумма ответственности арендатора, в рамках которой он отвечает перед компанией Укр-Прокат в случае повреждения (угона) арендованного автомобиля.

<p>Стандартный однодневный тариф дает право на использование автомобиля в течение 24 часов. В случае превышения этого срока более чем на 59 минут, взимается очередной стандартный однодневный тариф за каждый последующий день проката автомобиля в полном размере. Минимальный срок проката автомобиля 24 часа.

<p>При возврате автомобиля ранее установленного Договором проката срока, производит перерасчет за пользование Клиентом автомобиля согласно действующих тарифов, в полном объеме.

                <p><b>Ответственность Клиента:</b></p>

<p>В случае повреждения или угона автомобиля ответственность Клиента ограничивается франшизой.

<p>Мы рекомендуем возвращать автомобиль в чистом виде для удобства фиксации состояния автомобиля по повреждениям.
            </div>
        </div>
    </div>
</section>

{% endblock %}